/* Styles for HTML elements and the JQuery Themeroller UI
components */
h1 { font-family: 'Dancing Script', cursive; 
	font-weight: 700;
	font-size: 400%;
	color: #655874;
	text-align: center;
}
h2 { font-family: 'Dancing Script', cursive;
font-size: 300%;
	color: #655874;
	text-align: center;
}
body{
	font: 80% "Trebuchet MS", sans-serif;
	margin: 50px;
	background-color: #F0E8CF;
}
.demoHeaders {
	margin-top: 2em;
}
#tabs {
	font: 150% "Dancing Script", sans-serif;
	margin: 50px;
}
#tabs-1 {
	font: 75% "Trebuchet MS", serif;
}
#tabs-2 {
	font: 75% "Trebuchet MS", serif;
}
#tabs-3 {
	font: 75% "Trebuchet MS", serif;
}
#tabs-4 {
	font: 75% "Trebuchet MS", serif;
}
#tabs-5 {
	font: 75% "Trebuchet MS", serif;
}
#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}
select {
	width: 200px;
}

/* Styles for the jssor image gallery component */

/* jssor slider thumbnail navigator skin 07 css */
/*
.jssort07 .p            (normal)
.jssort07 .p:hover      (normal mouseover)
.jssort07 .pav          (active)
.jssort07 .pav:hover    (active mouseover)
.jssort07 .pdn          (mousedown)
*/
.jssort07 .i {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 99px;
	height: 66px;
	filter: alpha(opacity=80);
	opacity: .8;
}

.jssort07 .p:hover .i, .jssort07 .pav .i {
	filter: alpha(opacity=100);
	opacity: 1;
}

.jssort07 .o {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 97px;
	height: 64px;
	border: 1px solid #000;
	transition: border-color .6s;
	-moz-transition: border-color .6s;
	-webkit-transition: border-color .6s;
	-o-transition: border-color .6s;
}

* html .jssort07 .o {
	/* ie quirks mode adjust */
	width /**/: 99px;
	height /**/: 66px;
}

.jssort07 .pav .o, .jssort07 .p:hover .o {
	border-color: #fff;
}
	
.jssort07 .pav:hover .o {
	border-color: #0099FF;
}

.jssort07 .p:hover .o {
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
}
/* jssor slider arrow navigator skin 11 css */
/*
.jssora11l              (normal)
.jssora11r              (normal)
.jssora11l:hover        (normal mouseover)
.jssora11r:hover        (normal mouseover)
.jssora11ldn            (mousedown)
.jssora11rdn            (mousedown)
*/
.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../img/a11.png) no-repeat;
	overflow: hidden;
}

.jssora11l {
	background-position: -11px -41px;
}

.jssora11r {
	background-position: -71px -41px;
}

.jssora11l:hover {
	background-position: -131px -41px;
}

.jssora11r:hover {
	background-position: -191px -41px;
}

.jssora11ldn {
	background-position: -251px -41px;
}
	
.jssora11rdn {
	background-position: -311px -41px;
}

/* Style for location tab contents */
#lregion {
        width:100%;
}

#vpics {
        float:left;
}

#map {
        float:left;
        width:200px;
}

